<div class="jumbotron">
  <h1 class="display-4">Security Logging Alerting Monitoring</h1>
  <p class="lead">Starts ups don't have time to think about security. It is a dangerous risk they take everyday. SLAM
    is splunk for start ups who can't afford to pay millions for a logging tool.</p>
  <hr class="my-4">
  <p class="lead">A survey in 2016 found that only 2% of Small business owners are seriously concerned with the threat
    of cyber
    attacks. Hackers know this! Which is why over half of cyber attacks are directed at Small businesses. Over 60% of
    Small Businesses who get hacked go bankrupt soon after. The majority of these attacks can be prevented through
    proactive log monitoring with tools like Splunk. Unfortunately, Splunk is inaccessible to most Small Business
    Owners due to price.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>